@mixin data{
  background-color: $input-color;
  border: 1px solid $input-border;
  color: $font-color;
  padding: 10px 80px 13px 10px;
  float: left;
  margin-bottom: 10px;
  margin-left: -1;

  &:hover{
    background-color: $input-hover;
  } 
  
  &:focus{
    outline: none;
  }

}

@mixin btn-1{
  background-color: $btn;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 20px;

  &:hover{
    background-color: $btn-hover;
  } 

  &:focus{
    outline: none;
  }
}