/*---------variables------------*/
$font-color:rgb(114, 114, 114);
$input-color:rgb(233, 231, 231);
$input-border:rgb(184, 178, 178);
$input-hover:rgb(206, 206, 206);
$btn:#778b35;
$btn-hover:#5e721a;